* {
  margin: 0;
  padding: 0;
  font-family: "Mynerve", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.text {
  text-align: center;
}

.button {
  border: none;
  padding: 0;
  margin: 0;
  width: 330px;
  box-shadow: none;
}

.button:hover {
  cursor: pointer;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.round-no {
  margin-top: 20px;
  margin-bottom: 20px;
}

.result {
  margin-bottom: 20px;
  margin-top: 10px;
}

h1 {
  font-size: 55px;
}

.player-won,
.computer-won {
  color: darkblue;
}

p {
  font-size: 25px;
}

h2 {
  font-size: 40px;
}

.result {
  color: orangered;
}
